{% extends "base.html" %}
{% block content %}
<h1>Add Friend</h1>
<form method="POST" novalidate>
    {{ search_form.hidden_tag()}}
    <p>
        {{ search_form.text }}
        {{ search_form.button() }}
    </p>
    <p>
        <ul>
            {% for username, buttons in found_users %}
                <li>
                    {{ username }}
                    {% for href, tag_descrp in buttons %}
                        <a class="btn btn-outline-primary" href="{{ href }}">{{ tag_descrp }}</a>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </p>
</form>
<a class="btn btn-outline-primary" href="/my-friends">Back</a>
{% endblock %}