{% extends "base.html" %} {% block content %}
<div class="welcome-title">
    <div class="words word-1">
        <span>W</span>
        <span>E</span>
        <span>L</span>
        <span>C</span>
        <span>O</span>
        <span>M</span>
        <span>E</span>
    </div>
    <div class="words word-2">
        <span>T</span>
        <span>O</span>
    </div>
    <div class="words word-3">
        <span>S</span>
        <span>T</span>
        <span>U</span>
        <span>D</span>
        <span>Y</span>
        <span>2</span>
        <span>S</span>
        <span>U</span>
        <span>C</span>
        <span>C</span>
        <span>E</span>
        <span>S</span>
        <span>S</span>
    </div>
</div>
{% endblock %}