{% extends "base.html" %}
{% block swiper %}
<link rel="stylesheet" href="../static/learn-flashcards-style.css" />
{% endblock %}
{% block content %}

<p><strong>
        <h2> {{ first_card.front}}</h2>
    </strong></p>
<p>Please choose one</p>

<form method="POST" novalidate>
    {{ formNext.hidden_tag()}}
    <p>{{ form.A() }}</p>
    <p>{{ form.B() }}</p>
    <p>{{ form.C() }}</p>
    <p>{{ form.D() }}</p>
    <p class="btn btn-outline-primary">{{ formNext.nextCard() }}</p>
</form>
{% endblock %}