{% extends "base.html" %}
{% block content %}
<h1>Sign In</h1>
<form method="POST" novalidate>
    {{ form.hidden_tag()}}
    <p> {{ form.username.label }} <br>
        {{ form.username(size = 64) }}</p>

    <p> {{ form.password.label }} <br>
        {{ form.password(size = 64) }}</p>

    <p> {{ form.remember_me.label }} <br>
        {{ form.remember_me() }}</p>

    <p>{{ form.submit() }}</p>
</form>
<h2>Don't have an account?</h2>
<a class="btn btn-outline-primary" href="/signup">Sign Up</a>
{% endblock %}