{% extends "base.html" %}
{% block content %}
<h1>My Friends</h1>
<p>
    Friends:
    <ul>
        {% for friend, status, buttons in friends %}
            <li>
                User:{{ friend.username }}, Status:{{ status.name }}
                {% for href, tag_descrp in buttons %}
                    <a class="btn btn-outline-primary" href="{{ href }}">{{ tag_descrp }}</a>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</p>
<a class="btn btn-outline-primary" href="/add-friend">Add Friend</a>
{% endblock %}