{% extends "base.html" %}
{% block content %}
<h1>Sign Up</h1>

<form method="POST" novalidate>
    {{ form.hidden_tag()}}
    <p>{{ form.email.label }} <br>
        {{ form.email(size = 64) }}</p>
    <ul>
        {% for error in form.email.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    <p> {{ form.username.label }} <br>
        {{ form.username(size = 64) }}</p>

    <ul>
        {% for error in form.username.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    <p> {{ form.password.label }} <br>
        {{ form.password(size = 64) }}</p>
    <ul>
        {% for error in form.password.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    <p> {{ form.password2.label }} <br>
        {{ form.password2(size = 64) }}</p>
    <p>{{ form.submit() }}</p>
</form>
<h2>Already have an account?</h2>
<a class="btn btn-outline-primary" href="/login">Log In</a>
{% endblock %}