/*  */

body {
    background-image: url(./images/bg.jpg);
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.snip1217 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1217 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.snip1217 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.snip1217 a:before,
.snip1217 a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #9b59b6;
    width: 0;
}

.snip1217 a:before {
    top: 0;
    left: 0;
}

.snip1217 a:after {
    bottom: 0;
    right: 0;
}

.snip1217 a:hover,
.snip1217 .current a {
    color: #ffffff;
}

body,
html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
}

label {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Pomodoro app */

#pomodoro-content {
    background-image: url(./images/tomato.jpg);
    background-position: center center;
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
}