/* Pomodoro app */

#pomodoro-content {
    height: 90vh;
}

/* Only use this for pomodoro */
#main-container {
    background-image: url(./images/tomato.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}